# Dependencias
node_modules/
.expo/
.expo-shared/

# Variables de entorno
.env
.env.local
.env.production

# Builds
dist/
*.jks
*.p8
*.p12
*.mobileprovision

# iOS
ios/Pods/
ios/build/
ios/

# Android
android/
android/app/build/
android/.gradle/

# Logs
npm-debug.log*
yarn-debug.log*

.gitignore
finanzas-app/.git